<!DOCTYPE>
	<html>
		<body>
		<style type="text/css">
			body{background-color: lightblue}
			h2{color: darkblue}
		</style>
			<h2>This the giphy image associated with your search term(s): </h2>
			<a href="/giphysearch">Back to search page</a>
			<br><br>
			<%- image %>
			<br>
			<br>
			<a href="/giphysearch">Back to search page</a>
		</body>
	</html>