<!DOCTYPE>
	<html>
		<body>
		<style type="text/css">
			body{background-color: lightblue}
			h2{color: darkblue}
		</style>
			<h2>Welcome! Please enter search term(s) in the form below: </h2>
			<form action="/giphyresults" method="POST">
			<input type="text" name="search" placeholder="Enter your search term(s) here" required>
			<button>Search!</button>
			</form>
		</body>
	</html>